@charset "utf-8";
@import url("https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");
@import url("./fonts.css");
@import url("./normalize.css");
@import url("./reset.css");
/* 숨긴 콘텐츠 */
.a11y-hidden, legend{
  /* background: red; */
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow:hidden;
  clip: rect(0,0,0,0);
  clip-path: inset(0,0);
}
/*공통 스타일*/
*, *::before, *::after{
  box-sizing: border-box;
  font-family: 'Spoqa Han Sans', 'Sans-serif';
}
/* 링크스타일 */
a{
  color: inherit;
  text-decoration: none;
}
a:hover, a:focus{
  color: #f00;
}
/* 플로트 이슈를 해결하기 위한  css 선언 */
.clearfix::after{
/* 가상의 박스로 부모길이만큼 처리_overflow보다 속도개선됨 */
  content: "";
  /* background: yellow; */
  display: block;
  clear: both;
}
/* ul
  {background: grey;
  } */
/* ul ul
  {background: red;} */

html{
  font-size: 10px;
}
body{
  margin: 0;
  font-weight: 400;
  /* spoqa han sans 700, 300, 400, 100 중 font weight선택 */
  color: #181818;
  font-size: 1.4rem;

}

/*레이아웃*/
.container{
  background: url("./images/bg_flower.png")no-repeat 50% 0,
  linear-gradient(to bottom,#999 0%, #ccc 40%, #eee 60%, #fff 100%);
  /* display: flex; */
  /* flex-flow: column wrap; */
  /* flex-wrap: wrap; */
  /* justify-content: center; */

}
.header, .visual, .main, .slogan, .footer{
  /*반응형 width 영역 포함한 사이즈 가능*/
  width: 940px;
  /* align-self: center; */
  margin-left: auto;
  margin-right:auto;
}
/* 헤더 */
.header{
  background: #fff;
  position: relative;
  padding: 0 30px;
  border-radius: 0 0 15px 15px;
/* height: 10vh; */
}

/* 로고 */
.logo{
  /* background: teal; */
  position: absolute;
  /* absolute는 자기보다 상위기준으로 위치(relative, absolute, fixed되나 static이면 무시됨 */
  top: 47px;
  left: 65px;
}

/* 멤버 링크 모음 */
.member{

  padding: 2px 0;
  text-align: right;
  font-size: 0;
  margin-right: -10px;
}
.member li, .member a{
  display: inline-block; 
}

.member li{
  font-size: 1.4rem;

  /* width: 80px; */
}
.bar::before{
  content: ":";
}
.member a{
  padding: 8px 10px;
  text-transform: uppercase;
  /* 소문자 대문자로 변환 */
}
/* 메인 메뉴 */
.menu{
  /* background: orange;
  background-image: linear-gradient(to bottom, red, green); */
  background: #d85922 linear-gradient(to bottom, #ed962d 0%,#d85922 33%,#d85922 69%,#ed962d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */;
  height: 47px;
  border-radius: 0 0 15px 15px;
  /* border-top: 2px solid #000; */
  box-shadow: 0 -2px 0 0 #000;
  padding-left: 230px;
}
.menu-item{
  /* background: blueviolet; */
  float: left;

  /* font-weight: 700;
  font-size: 1.6rem; */
  /* padding: 10px 0; */
  line-height: 47px;
  border-left: 2px solid rgba(255,255,255,0.85);
  padding:0 17px;
  position: relative;
}
.menu-item:focus, .sub-menu a:focus{
  outline: 0;
}
.menu-item-text{
  display: block;
  line-height: 47px;
  font-weight: 700;
  font-size: 1.6rem;
  color: #fff;
  text-shadow: 1px 0 0 #000, 0px 1px 0px #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.menu-act .menu-item-text{
  color: #ff0;
  border-bottom: 2px solid #000;
}

.sub-menu{
  /* background: pink; */
  position: absolute;
  display: none;
  top: 48px;
  white-space: nowrap;
}
.sub-menu1, .sub-menu2, .sub-menu3{
  left: 0;}
.sub-menu4, .sub-menu5, .sub-menu6{
  right:0;
}

.menu-act .sub-menu{
  display: block;
}
.sub-menu li, .sub-menu a{
  display: inline-block;
}
.sub-menu li{
  margin-right:1em;
}

.sub-menu a::before{
  font-family: "fontello";
  content: '\f192';
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  margin-left: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;  
}

.sub-menu a:hover::before,
.sub-menu a:focus::before{
  content: '\e801';
}

.navigation{
  padding-bottom: 40px;
}
/* 비주얼 */
@keyframes textAni{
  0%{ 
    font-size: 12px;
    color: rgba(0,0,0,0);
    transform: translate(0,0);
    }
  100%{
    font-size: 24px;
    color: rgba(0,0,0,1);  
    transform: translate(400px,75px); 
  }
}
@keyframes bgAni{
  0%{opacity: 1;}
  /* 50%{opacity: 0;} */
  100%{opacity: 0;}
}
.visual{
height: 120px;
position: relative;
}

.visual::before, .visual::after{
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  /* animation: bgAni 2000ms infinite alternate; */
  animation-name: bgAni;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.visual::before{
  background-image: url("./images/ani_flower_01.png"), url("./images/ani_flower_02.png");
  background-position: 0 -10px, 670px, 0;
}
.visual::after{
  background-image: url("./images/ani_flower_03.png"), url("./images/ani_flower_04.png");
  background-position: 300px 0, 800px, 15px;
  animation-delay: 1000ms;
}

.visual-text{
  animation-name: textAni;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  position: absolute;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.main{
background: #fff;
border-radius: 15px 15px 0 0;
padding: 30px 15px;
min-height: 400px;
/* overflow 자식길이를 읽어들인다음 다시 적용하여 속도가 느려짐 */
/* overflow: hidden; */
/* height: 60vh; */
/* 공백 30px 균등하게 */
/* display: flex;
justify-content: space-between; */
}

.group{
  margin: 0 15px;
  float: left;
}

.group1{

width: 250px;
}
.group2{
/* clear: float와 겹치지 않도록 강제로 margin을 줌 */
  /* clear: both; */

  /* height: 100px; */
  width: 380px;
/* order: -1; */
}
.group3{

  /* float: left; */
  width: 190px;
}
/* 로그인 */
.login{
  background: radial-gradient(circle at right top,#e29a2d, #ed962d);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px 0 0 #ccc;
}
.login-heading{
  font-weight: 700;
  color: #ff0;
  padding: 0 0 10px 10px;
}

.login-form,.sign{
  background: #fff;
}
.login-form{
  padding: 10px 10px 0  10px;
}

.login-form label{
  display: inline-block;
  width: 4.5em;
}

.user-pw{
  margin-top: 6px;
  margin-bottom: 10px;
}
.login-form input{
  height: 22px;
  width: 90px;
  border:1px solid #aaa;
  padding: 1px 1px 1px 5px; 
}

.login-form fieldset{
      /* 구분선 */
      border-bottom: 1px solid #aaa;
      position: relative;
}
.btn-login{
  padding: 0;
  position: absolute;
  background: #e2622b;
  color: #fff;
  top:0;
  right:0;
  height: 50px;
  width: 50px;
  border: 1px solid #e29a2d;
  padding: 0;
  border-radius: 3px;}

.sign{
  display: flex;
  letter-spacing: -1px;
  justify-content: space-between;
  padding: 10px;


}
.sign li::before{
  margin-right: 0;
  margin-left: 0;
  color: #e2622b;
}

/* 유효성 검사 배너 */
.validation{
  margin-top: 25px;

}
.validation li{
  margin-bottom: 10px;
}
.validation a{
  display: block;
  background:url("./images/validation_icon.png") no-repeat 20px 50%, #ccc linear-gradient( #ccc, #eee);
  border: 1px solid #aaa;
  border-radius: 17px;
  padding: 6px 0 6px 45px;
}
/* 박스 전체가 링크되도록 하려면 a에서 해야함 */

/* .validation li{
background-image: url("./images/validation_icon.png");
background-repeat: no-repeat;
background-position: 5px 5px, 0, 30px;
background: linear-gradient(circle at right top, #999, #ccc);
border: 1px solid #181818;
border-radius: 15px;
margin: 25px 0 0;
padding: 5px 5px 5px 5px
} */

/* 웹 관련 용어 */
.term{
  background:#ccc linear-gradient( #ccc, #eee);
  margin-top: 20px;
  border:  1px solid #aaa;
  border-radius: 5px;
  padding: 10px 15px;
}
/* .term-heading{
  font-weight: 700;
  font-size: 1.6rem;
  font-style: normal;
  margin: 0 15px 10px;
}
.term-list-subject{
  /* background: yellow; */
  /* margin: 0 80px;
}
.term-list-thumbnail{
  margin: 0 15px ;
  float: left;
}
.term-list-brief{
  /* background: pink; */
  /* width: 150px;
  margin: 10px 80px 5px;
  text-decoration-style: #296897;
} */
.term-list .odd, .term-list .even{
  margin-top: 10px;
}
.term-heading{
  font-weight: 700;
  font-size: 1.6rem;
}
.term-list-subject, .term-list-brief{
  float: right;
  width: 145px;
}

.term-list-subject{
  color: #296897;
  margin-top: -5px;
}
.term-list-thumbnail{
  float: left;
}
.term-list-thumbnail img{
  vertical-align: top;
/* 아래 공백 없앰 */
}
.term-list-brief{
  /* padding-left: 76px; */
  line-height: 1.5;
}


/* 클래스명 오타로 인해 레이아웃이 무너졌음 
.even .term-lest-subject, .even .term-list-brief{
  float: left;
} */
/* .even .term-list-subject, .even .term-list-brief{
  float: left;
}
.even .term-list-thumbnail{
  float: right;
} */

/* 검색 폼 */
.search{
  background:#ccc linear-gradient( #ccc, #eee);
  border:  1px solid #aaa;
  border-bottom-color: #fff;
  border-radius: 15px 15px 0 0;
  padding: 15px 25px 10px;
}
/* .search-form fieldset{
  display: flex;
  justify-content: space-between;
} */
/* 크롬에서   fieldset인식못함 */

.search-form input{
  width: 200px;
  height: 24px;
  border: 1px solid #aaa;
  border-radius:  3px;
  padding: 1px 1px 1px 5px;
}
.btn-search{
  border:1px solid #aaa;
  border-radius: 3px;
  height: 24px;
  padding: 0 12px;
  color: #fff;
  background: #222;
  font-size: 1.3rem;
  vertical-align: top;
}

/* .search{
  background:#ccc linear-gradient( #ccc, #eee);
  border:  1px solid #aaa;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display: flex;
  padding: 10px 20px;
}
.search-form li{
  width: 150px;
  height: 22px;
} */



/* 공지사항 및 자료실 */
[class$="more"]::before{
  color: hsla(110, 50%, 30%, 1);
}
.board ul, .board [class$="more"]{
  display: none;
}
.board-act ul, .board-act  [class$="more"]{
  display: block;
}
.board{
  margin-top: 20px;
  position: relative;
}
.tab{
  position: absolute;
  top: 0;
  /* relative 있는데를 기준으로 왼쪽, 위0에 위치 */
  background: #ccc linear-gradient(#ccc, #eee);
  border: 1px solid #aaa;
  border-radius: 5px 5px 0 0;
  color: #333;
  padding: 5px 10px;
  cursor: pointer;
}
.board-act .tab{
color: #e2622b;
background: #fff;
border-color: #e2622b #e2622b #fff #e2622b;
}
.notice-heading{
  left: 0;
}
.pds-heading{
left: 73px;
}
.board ul a{
  width: 260px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* nowrap 글 길이를 넓이만큼 줄임 */
  /* overflow hidden 길이만큼 잘림 */
  /* text-overflow ...으로 자연스럽게 자름 */
  /* 세개를 세트로 써야됨 */
}
.board li{
  margin: 7px;
  position: relative;
}
.board ul{
  padding-top: 45px;
}
.board ul time{
  position: absolute;
  top: 0;
  right: 0;
}
.board [class$="more"]{
  position: absolute;
  top: 0;
  right: 0;

}
/* .board{
  background: yellow;
  margin-top: 20px;
}
.board-act {}

.notice{
  background: pink;
}
.pds{
  background: skyblue;
}
.tab{
  background: lime;
  background:#ccc linear-gradient( #ccc, #eee);
  border:  1px solid #aaa;
  border-bottom-color: #fff;
  border-radius: 10px 10px 0 0;
  padding:5px 10px;
  width: 80px;
}
.board-act ul{
  background: orange;
  display: none;
  position: absolute;
}
.board-act [class$="more"]{
background: silver;
float: right;
padding:5px 0;
display: none;
position: absolute;
} */

/* 새소식 */



.slogan{
background: purple;
height: 10vh;
}
.footer-bg{
background: silver;
/* flex-basis: 100%;
display: flex;
justify-content: center; */
}
.footer{
background: yellow;
height: 10vh;
}

